@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.hyperlink {
  color: #2f80ed;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.hyperlink:hover {
  /* text-decoration: underline; */
  opacity: 80%;
}

.normal-text {
  font-size: 16px !important;
}

.text-primary-color {
  color: #5b4947 !important;
}
.text-secondary-color {
  color: #fabc1d !important;
}

.button-primary {
  background-color: #fabc1d !important;
  width: 140px;
  padding: 10px;
  border-radius: 8px;
}
